<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5" id="attivita">

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="text-secondary">Principi cardine</h5>
              <h2 class="mb-2 fs-7 fw-bold">L'attivita</h2>
              <p class="mb-4 fw-medium text-secondary">
                Un attività in proprio senza i rischi di un imprenditore? ma come è possibile?</br>
                E' possibile solo se qualcun'altro ha gia fatto l'investimento per te,<br/>
                mettendoci l'infrastruttura tecnologica, la logistica, le spedizioni, la contabilità...<br/>
                Noi te lo facciamo conoscere <span style="color: #e25555;">&#10084;&#65039;</span> 
              </p>
              <h4 class="fs-1 fw-bold">No Investimento</h4>
              <p class="mb-4 fw-medium text-secondary">No rischi di capitale, nessun obbligo di acquisto, mettici solo il tempo e l’ambizione.</p>
              <h4 class="fs-1 fw-bold">Scalabilità, principio della Leva e NetworkMarketing</h4>
              <p class="mb-4 fw-medium text-secondary">moltiplicare tempo e talenti costruendo organizzazioni profittevoli e durature.</p>
              <h4 class="fs-1 fw-bold">Meritocrazia totale</h4>
              <p class="mb-4 fw-medium text-secondary">Tutti hanno le <b>stesse condizioni all’ingresso</b> e sono incoraggiati a collaborare per raggiungere gli obiettivi di squadra.</br>
                I risultati <b>dipendono esclusivamente dall’applicazione del metodo</b> e dalle ambizioni.</br>
                No organizzazioni piramidali ma piuttosto <b>“cluster”</b></br>
                Collaborazione in ottica win-win (vinci tu, vinco io).
              </p>
            </div>
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/validation/validation.png" alt="" /></div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

