<section class="pt-7">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-md-6 text-md-start text-center py-6">
            <h1 class="mb-4 fs-9 fw-bold">Genera una reddito crescente e duraturo nel tempo svincolato dalle ore di lavoro, dagli impegni imposti e dalla routine che ti toglie energia e tempo</h1>
            <p class="mb-6 lead text-secondary">Che tu stia cercando il lavoro dei tuoi sogni<br class="d-none d-xl-block" />o semplicemente un modo per <b>aumentare le tue entrate</b>, redditocrescente può offrirti la possibilità concreta di costruire la tua libertà economica e professionale con <b>entrate regolari e crescenti</b>.<br class="d-none d-xl-block" />E se ti dicessi che <b>hai già tutto ciò che ti serve per iniziare?</b> Agire è ciò che trasforma le possibilità in realtà, fallo ora!
            <div class="text-center text-md-start"><a class="btn btn-warning me-3 btn-lg" href="#contattaci" role="button">Inizia ora</a><a class="btn btn-link text-warning fw-medium" href="#!" role="button" data-bs-toggle="modal" data-bs-target="#popupVideo"><span class="fas fa-play me-2"></span>Watch the video </a></div>
        </div>
        <div class="col-md-6 text-end"><img class="pt-7 pt-md-0 img-fluid" src="assets/img/hero/hero-img.png" alt="" /></div>
        </div>
    </div>
</section>