<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5" id="lungimiranza">

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="text-secondary">Ma attenzione</h5>
              <p class="fs-7 fw-bold mb-2">Lungimiranza</p>
              <p class="mb-4 fw-medium text-secondary">
                  Non ti promettiamo guadagni illusori e fulminei.</br>
                  Il nostro obiettivo è strutturarsi come rete in modo da costruire un <b>reddito costante e crescente nel tempo</b>.</br> Il potenziale è enorme e virtualmente illimitato ma i risultati arrivano un passo dopo l'altro.</br> 
              </p>
              <b>Quando tempo occorre?</b> bhe difficile a dirsi, ognuno di noi ha ambizioni, motivazioni, background diversi.</br>
                  Immagina di essere assunto in un azienda per un ruolo mediamente qualificato, quanto tempo passerebbe prima che tu ti possa sentire "padrone" del tuo lavoro?</br> 
                  <b>Puoi iniziare a guadagnare già da subito</b> ma si lungimirante, i risultati che durano e possono cambiare radicalmente la tua vita richiedono tempo e dedizione. 
              <p>
              </p>
              <!--
              <div class="d-flex align-items-center mb-3"> <img class="me-sm-4 me-2" src="assets/img/manager/tick.png" width="35" alt="tick" />
                <p class="fw-medium mb-0 text-secondary">Never worry about overpaying for your<br />energy again.</p>
              </div>
              <div class="d-flex align-items-center mb-3"> <img class="me-sm-4 me-2" src="assets/img/manager/tick.png" width="35" alt="tick" />
                <p class="fw-medium mb-0 text-secondary">We will only switch you to energy companies<br />that we trust and will treat you right</p>
              </div>
              <div class="d-flex align-items-center mb-3"><img class="me-sm-4 me-2" src="assets/img/manager/tick.png" width="35" alt="tick" />
                <p class="fw-medium mb-0 text-secondary"> We track the markets daily and know where the<br />savings are.</p>
              </div>
              -->
            </div>
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/manager/manager.png" alt="" /></div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
