<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5" id="prodotti">

        <div class="container">
          <div class="row">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/marketer/marketer.png" alt="" /></div>
            <div class="col-lg-6">
              <h5 class="text-secondary">vendita</h5>
              <p class="mb-2 fs-8 fw-bold">I Prodotti</p>
              <p class="mb-4 fw-medium text-secondary">Un vastissimo catalogo di prodotti per la casa, nutrizione, bellezza e di largo consumo che seguono i trend di mercato.</br> Acquisti, spedizione e logistica sono <b>completamente gestiti</b> e non dovrai preoccupartene, concentrati in quello che conta veramente, ovvero <b>creare relazioni</b>.</p>
              <h4 class="fw-bold fs-1">Esclusivi e brevettati</h4>
              <p class="mb-4 fw-medium text-secondary">Prodotti di qualità superiore <b>acquistabili solo tramite questa rete</b> non in competizione con altri sul mercato,</b> non c’è sovrapposizione di mercato.</p>
              <h4 class="fw-bold fs-1">Autoconsumo</h4>
              <p class="mb-4 fw-medium text-secondary">Essendo prodotti di utilizzo quotidiano che ognuno di noi acquista regolarmente e continuativamente la logica conseguenza è l'autoconsumo, metà della strada è gia fatta.</p>
              <h4 class="fw-bold fs-1">Soddisfazione 100% o restituisci</h4>
              <p class="mb-4 fw-medium text-secondary">I prodotti <b>si possono provare</b>, se non si è soddisfatti si possono restituire anche <b>”comiciati” e “senza limite di tempo”</b>.</br>
              Che dire di più... già questo è un indice della serietà dell’azienda.</p>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
