<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-md-11 py-8" id="superhero">

<div class="bg-holder z-index--1 bottom-0 d-none d-lg-block background-position-top" style="background-image:url(assets/img/superhero/oval.png);opacity:.5; background-position: top !important ;">
</div>
<!--/.bg-holder-->

<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <h1 class="fw-bold mb-4 fs-7">Vuoi saperne di piu?</h1>
        <p class="mb-5 text-info fw-medium">Contattaci, ti spiegheremo nel dettaglio e in modo semplice come cominciare ad avviare la tua attività in maniera indipendente e profittevole.</p>
        <button class="btn btn-warning btn-md">Contattaci</button>
    </div>
    </div>
</div><!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

